.main {
  background-color: rgb(34,34,34)
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-ul li {
  float: left;
}

.navbar-ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-ul li a:hover {
  background-color: #111;
}
.container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 34, 34);
}

.text-container {
  min-height: 100vh;
  max-width: 800px;
  color: white;
  /*justify-content: left;*/
  padding: 0 16px;
  margin: auto;
  background-color: rgb(34, 34, 34);

}

.light-link {
  color: rgb(135,206,250);
}

.board-container {
  width: 750px;
  height: 750px;
}

.board-container-mobile {
  width: 400px;
  height: 400px;
}


.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.square-black {
  background: #A4C971
}
.square-white {
  background: #F0F0B5
}

.square-movement-source {
  background: #B8B8B8
}

.square-white-legal-move {
  background: #b5d0f0
}

.square-black-legal-move {
  background: #719ec9
}

.square-ability-source {
  background: #E8C5C3
}

.square-white-legal-ability {
  background: #f0d1b5
}

.square-black-legal-ability {
  background: #c97171
}

.board-square {
  width: 100%;
  height: 100%;
}

.piece-container {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.piece-health {
  max-width: 100%;
  max-height: 20%;
  font-size: medium;
  user-select: none;
  text-align: center;
  position: absolute;
  top: 1px;
}

.piece-health-mobile {
  max-width: 100%;
  max-height: 20%;
  font-size: 50%;
  user-select: none;
  text-align: center;
  position: absolute;
  top: 1px;
}


.piece {
  max-width: 70%;
  max-height: 70%;
  user-select: none;
  margin: auto;
  display: flex;
  justify-content: center;
}
